@model List<WebApp.Crud.Models.DTOs.StudentDto>
@{
    ViewData["Title"] = "Student Homepage";
    @Html.Partial("_Modal");
}

<div class="text-center">
    <h1> Student Details: </h1>
    <div class="col-md-2">
        <button class="btn btn-success" onclick="createStudent()">
            Add Details
        </button>
    </div>
    <table class="table m-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">University</th>
                <th scope="col">Cell Phone Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.University</td>
                    <td>@student.Address</td>
                    <td>@student.CellPhoneNumber</td>
                    <td>
                        <button class="btn btn-primary btn-sm" onclick="getStudent('@student.Id')">
                            Details
                        </button>
                        <button class="btn btn-warning btn-sm" onclick="editModal('@student.Id')">
                            Edit
                        </button>
                        <button class="btn btn-danger btn-sm" onclick="deleteStudent('@student.Id')">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/site.js" />
